body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.page-title{
    border: 1px solid rgb(247, 236, 173);
    border-radius: 20px;
    display: inline-block;
    padding: 10px 50px 10px 50px;
    background-color: rgb(247, 236, 173);
    font-size: 50px;
}
.div-for-title, .desc, .ing{
    text-align: center;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 0px;
    border-radius: 5px;
    
}

.description, .p-description{
    text-align: center;
}
.p-description{
    font-size: 20px;
}
.description, .ingredients{
    font-size: 30px;
    border: 1px solid rgb(247, 236, 173);
    border-radius: 20px;
    display: inline-block;
    padding: 10px 50px 10px 50px;
    background-color: rgb(247, 236, 173);
}
